
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Create a New Ticket{% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>
        <label for="description">Description</label>
        <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
        <label for="urgency">Urgency</label>
        <select name="urgency" id="urgency">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <button type="submit">Create</button>
    </form>
{% endblock %}
